@import '../../../variables';

.tabs {
  display: flex;
  div {
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
  }
  .active-tab {
    color: $blue;
  }
}
.border-bottom {
  width: 50%;
  border: 1px solid $blue;
}
