$bg-primary: white;
$bg-secondary: #f1f3f4;
$text-primary: black;
$text-secondary: rgb(107 114 128);
$blue: rgb(59, 130, 246);
$blue-light-hover: rgb(219 234 254);
$blue-hover: #2563eb;
$red: rgb(239, 68, 68);
$red-hover: rgb(220, 38, 38);
$bg-secondary-hover: rgba(0, 0, 0, 0.1);

$box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);

$breakpoint-lg: 1200px;
$breakpoint-md: 600px;
$breakpoint-sm: 400px;
