$bg-primary: white;
$bg-secondary: #f1f3f4;
$text-primary: black;
$text-secondary: rgb(75 85 99);
$blue: rgb(59 130 246);
// $blue-hover: rgb(219 234 254);
$blue-hover: #2563eb;

$box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
